.pagination {
  display: flex;
  margin: 30px auto;
  max-width: 50%;
  position: relative;
  padding: 0 70px;

  &__middle {
    white-space: nowrap;
    width: 100%;
  }

  &__btn {
    margin: 0 10px;
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
    border: none;
    padding: 0 10px;
    outline: none;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      background: #ddd;
    }

    &.active {
      background: green;
      color: #fff;
    }

    &--prev {
      position: absolute;
      left: 0;
      z-index: 1;
    }

    &--next {

      position: absolute;
      right: 0;
      z-index: 1;
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    margin: 30px 8px;
  }
}
